# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
UserSettings/
MemoryCaptures/
Logs/

# Visual Studio / VS Code / Rider
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# OS specific
.DS_Store
Thumbs.db
Desktop.ini
